In [119]:
#this is the learning model process using data from ETL, choosing XGBoost

In [120]:
import pandas as pd
import os
import boto3
import sagemaker
from sagemaker import get_execution_role
from sagemaker.xgboost.estimator import XGBoost
from sagemaker.tuner import IntegerParameter, ContinuousParameter, HyperparameterTuner

In [121]:
#read data from s3

In [122]:
data_position='s3://*****/output_small/data_small.csv'
data=pd.read_csv(data_position)

In [123]:
train_data_position='s3://*****/data/order_products/order_products__train.csv.gz'
train_data=pd.read_csv(train_data_position)

In [124]:
#order info data

In [125]:
info_order_position='s3://*****/data/orders/orders.csv'
info_order=pd.read_csv(info_order_position)

In [126]:
#preview dataset

In [127]:
train_data.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
5         1       13176                  6          0
6         1       47209                  7          0
7         1       22035                  8          1
8        36       39612                  1          0
9        36       19660                  2          1

In [128]:
data.head()

,product_id,up_orders,user_mean_days_since_prior,user_period,user_distinct_products,prod_second_orders,prod_reorders,user_reorder_ratio,user_total_products,up_average_cart_position,up_first_order,user_orders,up_last_order,prod_orders,prod_first_orders,user_id
0,19508,6,5.969574,2943,200,2869,6681,0.602434,497,7.833333,11,61,29,14905,8224,144185
1,21681,1,6.675781,3418,209,186,358,0.595703,514,10.000000,11,57,11,1599,1241,83415
2,31487,1,10.865079,1369,67,545,1702,0.515873,132,8.000000,5,27,5,3049,1347,39777
3,32610,1,8.377778,754,76,31,78,0.344444,107,8.000000,9,9,9,198,120,184494
4,18171,2,12.500000,2400,70,561,1650,0.687500,202,7.500000,3,24,19,3128,1478,132468

In [129]:
info_order.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [130]:
#data pre-processing

In [131]:
#left join user_id in infto_order to order_id in train_data

In [132]:
train_data_v1=pd.merge(train_data,info_order[['order_id','user_id']],how='left',on='order_id')

In [133]:
train_data_v1.head(10)

   order_id  product_id  add_to_cart_order  reordered  user_id
0         1       49302                  1          1   112108
1         1       11109                  2          1   112108
2         1       10246                  3          0   112108
3         1       49683                  4          0   112108
4         1       43633                  5          1   112108
5         1       13176                  6          0   112108
6         1       47209                  7          0   112108
7         1       22035                  8          1   112108
8        36       39612                  1          0    79431
9        36       19660                  2          1    79431

In [134]:
train_data_v1.shape

(1384617, 5)

In [135]:
pd.isnull(train_data_v1['user_id']).values.any()

False

In [136]:
# left join order_id in info_order to data on order_id

In [137]:
data_v1=pd.merge(data,info_order[info_order.eval_set != 'prior'][['user_id','eval_set']],how='left',on='user_id')

In [138]:
data_v1.head()

,product_id,up_orders,user_mean_days_since_prior,user_period,user_distinct_products,prod_second_orders,prod_reorders,user_reorder_ratio,user_total_products,up_average_cart_position,up_first_order,user_orders,up_last_order,prod_orders,prod_first_orders,user_id,eval_set
0,19508,6,5.969574,2943,200,2869,6681,0.602434,497,7.833333,11,61,29,14905,8224,144185,test
1,21681,1,6.675781,3418,209,186,358,0.595703,514,10.000000,11,57,11,1599,1241,83415,train
2,31487,1,10.865079,1369,67,545,1702,0.515873,132,8.000000,5,27,5,3049,1347,39777,train
3,32610,1,8.377778,754,76,31,78,0.344444,107,8.000000,9,9,9,198,120,184494,train
4,18171,2,12.500000,2400,70,561,1650,0.687500,202,7.500000,3,24,19,3128,1478,132468,train

In [139]:
pd.isnull(data_v1['eval_set']).values.any()

False

In [140]:
#data_v2=pd.merge(data_v1,train_data_v1[['user_id','product_id','reordered']],how='left',on=['user_id','product_id'])
data_v2 = data_v1.merge(train_data_v1[['user_id', 'product_id', 'reordered']], how = 'left')

In [141]:
data_v2.head()

,product_id,up_orders,user_mean_days_since_prior,user_period,user_distinct_products,prod_second_orders,prod_reorders,user_reorder_ratio,user_total_products,up_average_cart_position,up_first_order,user_orders,up_last_order,prod_orders,prod_first_orders,user_id,eval_set,reordered
0,19508,6,5.969574,2943,200,2869,6681,0.602434,497,7.833333,11,61,29,14905,8224,144185,test,NaN
1,21681,1,6.675781,3418,209,186,358,0.595703,514,10.000000,11,57,11,1599,1241,83415,train,NaN
2,31487,1,10.865079,1369,67,545,1702,0.515873,132,8.000000,5,27,5,3049,1347,39777,train,NaN
3,32610,1,8.377778,754,76,31,78,0.344444,107,8.000000,9,9,9,198,120,184494,train,NaN
4,18171,2,12.500000,2400,70,561,1650,0.687500,202,7.500000,3,24,19,3128,1478,132468,train,NaN

In [142]:
#check it existing NULL value

In [143]:
print(pd.isnull(data_v2[['reordered']]).values.any())
data_v2.shape

True

(1330795, 18)

In [144]:
data_v2[data_v2[['reordered']].isnull().T.any()]

,product_id,up_orders,user_mean_days_since_prior,user_period,user_distinct_products,prod_second_orders,prod_reorders,user_reorder_ratio,user_total_products,up_average_cart_position,up_first_order,user_orders,up_last_order,prod_orders,prod_first_orders,user_id,eval_set,reordered
0,19508,6,5.969574,2943,200,2869,6681,0.602434,497,7.833333,11,61,29,14905,8224,144185,test,NaN
1,21681,1,6.675781,3418,209,186,358,0.595703,514,10.000000,11,57,11,1599,1241,83415,train,NaN
2,31487,1,10.865079,1369,67,545,1702,0.515873,132,8.000000,5,27,5,3049,1347,39777,train,NaN
3,32610,1,8.377778,754,76,31,78,0.344444,107,8.000000,9,9,9,198,120,184494,train,NaN
4,18171,2,12.500000,2400,70,561,1650,0.687500,202,7.500000,3,24,19,3128,1478,132468,train,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330790,778,1,13.210526,251,18,107,385,0.421053,26,3.000000,3,4,3,707,322,144251,train,NaN
1330791,8571,2,9.216387,4387,75,2014,11282,0.886555,497,18.500000,2,20,12,14399,3117,144159,test,NaN
1330792,23405,2,7.000000,56,10,1065,1805,0.375000,13,1.500000,2,3,3,7952,6147,74381,train,NaN
1330793,21137,38,4.477180,9908,265,38131,205845,0.894261,2244,9.105263,1,80,58,264683,58838,145686,train,NaN
1330794,16797,1,13.116959,4486,188,24449,99802,0.485380,354,3.000000,7,20,7,142951,43149,17544,test,NaN

In [145]:
#because too many records have reordered value with NAN, means that consumer may did not order again ,so fill 0
data_v2['reordered']=data_v2['reordered'].fillna(0)
data_v2['reordered']=data_v2.reordered.astype(int)

In [146]:
pd.isnull(data_v2[['reordered']]).values.any()

False

In [147]:
#feature engineering

In [148]:
data_v2['prod_reorder_probability'] = data_v2.prod_second_orders / data_v2.prod_first_orders
data_v2['prod_reorder_times'] = 1 + data_v2.prod_reorders / data_v2.prod_first_orders
data_v2['prod_reorder_ratio'] = data_v2.prod_reorders / data_v2.prod_orders
#delete unnecessary col
data_v2.drop(['prod_reorders', 'prod_first_orders', 'prod_second_orders'], axis=1, inplace=True)
data_v2['user_average_basket'] = data_v2.user_total_products / data_v2.user_orders
data_v2['up_order_rate'] = data_v2.up_orders / data_v2.user_orders
data_v2['up_orders_since_last_order'] = data_v2.user_orders - data_v2.up_last_order
data_v2['up_order_rate_since_first_order'] = data_v2.up_orders / (data_v2.user_orders - data_v2.up_first_order + 1)

In [149]:
data_v2.head()

,product_id,up_orders,user_mean_days_since_prior,user_period,user_distinct_products,user_reorder_ratio,user_total_products,up_average_cart_position,up_first_order,user_orders,...,user_id,eval_set,reordered,prod_reorder_probability,prod_reorder_times,prod_reorder_ratio,user_average_basket,up_order_rate,up_orders_since_last_order,up_order_rate_since_first_order
0,19508,6,5.969574,2943,200,0.602434,497,7.833333,11,61,...,144185,test,0,0.348857,1.812378,0.448239,8.147541,0.098361,32,0.117647
1,21681,1,6.675781,3418,209,0.595703,514,10.000000,11,57,...,83415,train,0,0.149879,1.288477,0.223890,9.017544,0.017544,46,0.021277
2,31487,1,10.865079,1369,67,0.515873,132,8.000000,5,27,...,39777,train,0,0.404603,2.263549,0.558216,4.888889,0.037037,22,0.043478
3,32610,1,8.377778,754,76,0.344444,107,8.000000,9,9,...,184494,train,0,0.258333,1.650000,0.393939,11.888889,0.111111,0,1.000000
4,18171,2,12.500000,2400,70,0.687500,202,7.500000,3,24,...,132468,train,0,0.379567,2.116373,0.527494,8.416667,0.083333,5,0.090909

In [150]:
#split data for training and test

In [151]:
train = data_v2[data_v2.eval_set == 'train'].copy()
test = data_v2[data_v2.eval_set == 'test'].copy()

In [215]:
test_gt = data_v2[data_v2.eval_set == 'test'].copy()
test_gt=test_gt[['reordered']]
test_gt=test_gt.reset_index().drop(['index'],axis=1)
test_gt.head()

   reordered
0          0
1          0
2          0
3          0
4          0

In [152]:
#drop un-necessary col

In [153]:
test.drop(['product_id','user_id','eval_set','reordered'],axis=1,inplace=True)
train.drop(['product_id','user_id','eval_set'],axis=1,inplace=True)

In [154]:
#split variables and turth

In [155]:
train_x=train.drop(['reordered'],axis=1)
train_y=train[['reordered']]

In [156]:
#split training set and validation set

In [157]:
train_xgb_x=train_x[20000:]
train_xgb_y=train_y[20000:]

val_xgb_x=train_x[:20000]
val_xgb_y=train_y[:20000]

In [158]:
#store the processed data into data lake: s3

In [159]:
if not os.path.exists('data/xgboost'):
    os.makedirs('data/xgboost')

#save dataframes into csv
pd.DataFrame(test).to_csv(os.path.join('data/xgboost','test.csv'),header=False,index=False)
pd.concat([val_xgb_y,val_xgb_x],axis=1).to_csv(os.path.join('data/xgboost','validation.csv'),header=False,index=False)
pd.concat([train_xgb_y,train_xgb_x],axis=1).to_csv(os.path.join('data/xgboost','train.csv'),header=False,index=False)

In [160]:
#release memory

In [161]:
val_xgb_x=val_xgb_y=train_xgb_x=train_xgb_y=None

In [162]:
session=sagemaker.Session()
test_location = session.upload_data(os.path.join('data/xgboost', 'test.csv'), key_prefix='xgboost-data')
val_location = session.upload_data(os.path.join('data/xgboost', 'validation.csv'), key_prefix='xgboost-data')
train_location = session.upload_data(os.path.join('data/xgboost', 'train.csv'), key_prefix='xgboost-data')

In [163]:
#classification

In [164]:
#give permission to access data

role=get_execution_role()
print(role)

arn:aws:iam::724193151683:role/service-role/AmazonSageMaker-ExecutionRole-20211205T140249

In [165]:
#set xgboost hyperparameters

In [166]:
'''
hyperparameters = {
        "max_depth":"5",
        "eta":"0.1",
        "gamma":"4",#Minimum drop in loss function required for node splitting
        "min_child_weight":"6",
        "subsample":"0.8",#random sampling
        "objective":"binary:logictic", #we want probability as output
        "num_round":"50"}
'''

In [167]:
#output path where the trained model

bucket = sagemaker.Session().default_bucket()
prefix = 'xgboost-train'
output_path = 's3://{}/{}/output'.format(bucket, prefix)

In [175]:
#looks for the XGBoost image URI

from sagemaker import image_uris
xgboost_container = sagemaker.image_uris.retrieve("xgboost", session.boto_region_name, "latest")

In [176]:
#create xgboost estimator

xgb_model = sagemaker.estimator.Estimator(image_uri=xgboost_container, 
                                          #hyperparameters=hyperparameters,
                                          role=role, 
                                          instance_count=1, #num of compute instance
                                          instance_type='ml.m5.2xlarge',
                                          output_path=output_path,
                                          sagemaker_session=session)

In [177]:
xgb_model.set_hyperparameters(max_depth=5,
                        eta=0.1,
                        gamma=4,
                        min_child_weight=6,
                        subsample=0.8,
                        silent=0,
                        objective='binary:logistic',
                        early_stopping_rounds=10,
                        num_round=500)

In [178]:
# create hyperparameter tuner to optimize model

In [179]:
xgb_hyperparameter_tuner = HyperparameterTuner(estimator = xgb_model,
                                               objective_metric_name = 'validation:rmse',
                                               objective_type = 'Minimize', # Whether we wish to minimize or maximize the metric.
                                               max_jobs = 4, # The total number of models to train
                                               max_parallel_jobs = 2, # The number of models to train in parallel
                                               hyperparameter_ranges = {
                                                    'max_depth': IntegerParameter(3, 12),
                                                    'eta'      : ContinuousParameter(0.05, 0.5),
                                                    'min_child_weight': IntegerParameter(2, 8),
                                                    'subsample': ContinuousParameter(0.5, 0.9),
                                                    'gamma': ContinuousParameter(0, 10),
                                               })

In [180]:
# fit the xgb model with tuner

train_data = sagemaker.TrainingInput(s3_data=train_location, content_type='csv')
val_data = sagemaker.TrainingInput(s3_data=val_location, content_type='csv')
xgb_hyperparameter_tuner.fit({'train': train_data, 'validation': val_data})

.....................................................................................!

In [181]:
#choose the parameter group with best performance and attach model

In [183]:
xgb_final=sagemaker.estimator.Estimator.attach(xgb_hyperparameter_tuner.best_training_job())

2022-01-24 10:23:08 Starting - Preparing the instances for training
2022-01-24 10:23:08 Downloading - Downloading input data
2022-01-24 10:23:08 Training - Training image download completed. Training in progress.
2022-01-24 10:23:08 Uploading - Uploading generated training model
2022-01-24 10:23:08 Completed - Training job completed

In [184]:
#create transformer object to do interactions with the trained model

In [185]:
xgb_transformer=xgb_final.transformer(instance_count = 1,instance_type='ml.m4.xlarge')

In [186]:
#test the transformer job, do interactions with test data

In [190]:
xgb_transformer.transform(test_location,content_type='text/csv',split_type='Line')

................................Arguments: serve
[2022-01-24 11:02:34 +0000] [1] [INFO] Starting gunicorn 19.9.0
[2022-01-24 11:02:34 +0000] [1] [INFO] Listening at: http://0.0.0.0:8080 (1)
[2022-01-24 11:02:34 +0000] [1] [INFO] Using worker: gevent
[2022-01-24 11:02:34 +0000] [22] [INFO] Booting worker with pid: 22
[2022-01-24 11:02:34 +0000] [23] [INFO] Booting worker with pid: 23
[2022-01-24 11:02:34 +0000] [24] [INFO] Booting worker with pid: 24
/opt/amazon/lib/python3.7/site-packages/gunicorn/workers/ggevent.py:65: MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors, including RecursionError on Python 3.6. It may also silently lead to incorrect behaviour on Python 3.7. Please monkey-patch earlier. See https://github.com/gevent/gevent/issues/1016. Modules that had direct imports (NOT patched): ['urllib3.util.ssl_ (/opt/amazon/lib/python3.7/site-packages/urllib3/util/ssl_.py)', 'urllib3.util (/opt/amazon/lib/python3.7/site-packages/urllib3/util/__init__.py)'].
  monkey.patch_all(subprocess=True)
[2022-01-24:11:02:34:INFO] Model loaded successfully for worker : 22
/opt/amazon/lib/python3.7/site-packages/gunicorn/workers/ggevent.py:65: MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors, including RecursionError on Python 3.6. It may also silently lead to incorrect behaviour on Python 3.7. Please monkey-patch earlier. See https://github.com/gevent/gevent/issues/1016. Modules that had direct imports (NOT patched): ['urllib3.util.ssl_ (/opt/amazon/lib/python3.7/site-packages/urllib3/util/ssl_.py)', 'urllib3.util (/opt/amazon/lib/python3.7/site-packages/urllib3/util/__init__.py)'].
  monkey.patch_all(subprocess=True)
[2022-01-24:11:02:34:INFO] Model loaded successfully for worker : 23
/opt/amazon/lib/python3.7/site-packages/gunicorn/workers/ggevent.py:65: MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors, including RecursionError on Python 3.6. It may also silently lead to incorrect behaviour on Python 3.7. Please monkey-patch earlier. See https://github.com/gevent/gevent/issues/1016. Modules that had direct imports (NOT patched): ['urllib3.util.ssl_ (/opt/amazon/lib/python3.7/site-packages/urllib3/util/ssl_.py)', 'urllib3.util (/opt/amazon/lib/python3.7/site-packages/urllib3/util/__init__.py)'].
  monkey.patch_all(subprocess=True)
[2022-01-24:11:02:34:INFO] Model loaded successfully for worker : 24
[2022-01-24 11:02:34 +0000] [25] [INFO] Booting worker with pid: 25
/opt/amazon/lib/python3.7/site-packages/gunicorn/workers/ggevent.py:65: MonkeyPatchWarning: Monkey-patching ssl after ssl has already been imported may lead to errors, including RecursionError on Python 3.6. It may also silently lead to incorrect behaviour on Python 3.7. Please monkey-patch earlier. See https://github.com/gevent/gevent/issues/1016. Modules that had direct imports (NOT patched): ['urllib3.util.ssl_ (/opt/amazon/lib/python3.7/site-packages/urllib3/util/ssl_.py)', 'urllib3.util (/opt/amazon/lib/python3.7/site-packages/urllib3/util/__init__.py)'].
  monkey.patch_all(subprocess=True)
[2022-01-24:11:02:34:INFO] Model loaded successfully for worker : 25
[2022-01-24:11:02:40:INFO] Sniff delimiter as ','
[2022-01-24:11:02:40:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:40:INFO] Sniff delimiter as ','
[2022-01-24:11:02:40:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:40:INFO] Sniff delimiter as ','
[2022-01-24:11:02:40:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:41:INFO] Sniff delimiter as ','
[2022-01-24:11:02:41:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:42:INFO] Sniff delimiter as ','
[2022-01-24:11:02:42:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:42:INFO] Sniff delimiter as ','
[2022-01-24:11:02:42:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:43:INFO] Sniff delimiter as ','
[2022-01-24:11:02:43:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:43:INFO] Sniff delimiter as ','
[2022-01-24:11:02:43:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:44:INFO] Sniff delimiter as ','
[2022-01-24:11:02:44:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:45:INFO] Sniff delimiter as ','
[2022-01-24:11:02:45:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:45:INFO] Sniff delimiter as ','
[2022-01-24:11:02:45:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:45:INFO] Sniff delimiter as ','
[2022-01-24:11:02:45:INFO] Determined delimiter of CSV input is ','

2022-01-24T11:02:38.782:[sagemaker logs]: MaxConcurrentTransforms=4, MaxPayloadInMB=6, BatchStrategy=MULTI_RECORD
[2022-01-24:11:02:46:INFO] Sniff delimiter as ','
[2022-01-24:11:02:46:INFO] Determined delimiter of CSV input is ','
[2022-01-24:11:02:46:INFO] Sniff delimiter as ','
[2022-01-24:11:02:46:INFO] Determined delimiter of CSV input is ','

In [191]:
!aws s3 cp --recursive $xgb_transformer.output_path $'data/xgboost'

download: s3://sagemaker-ap-southeast-2-724193151683/xgboost-2022-01-24-10-57-24-660/test.csv.out to data/xgboost/test.csv.out

In [200]:
#calculate the best probability to distinguish consumer will reorder or not

In [218]:
for index in range(test_gt.shape[0]):
    if int(test_gt.iloc[index])>0:
        test_gt.iloc[index]==1

In [219]:
print(test_gt[test_gt.reordered==0].shape[0])

483803

In [216]:
# because the test data only have the 0 value, so it is useless to cal best probability distinguish

In [217]:
#deploy learning model

In [220]:
xgb_pred_deploy=xgb_final.deploy(initial_instance_count=1,instance_type='ml.m4.xlarge')

-----!

In [221]:
#create the deployed model endpoint

In [222]:
xgb_pred_deploy.endpoint

The endpoint attribute has been renamed in sagemaker>=2.
See: https://sagemaker.readthedocs.io/en/stable/v2.html for details.

'xgboost-2022-01-24-13-33-20-946'